{{template "head" .}}
    {{template "browsehead" .}}
    {{with .Browse}}
    {{if .Entries}}
    <table class="tree">
      <tbody>
      {{$p := .Path}}
      {{range .Entries}}
      <tr>
        {{if .Dir}}<td><a href="{{$.Browse.Base}}/tree/{{if $p}}{{$p}}/{{end}}{{.Name}}{{$.Browse.Q}}">{{.Name}}/</a></td><td></td>
        {{else}}<td><a href="{{$.Browse.Base}}/blob/{{if $p}}{{$p}}/{{end}}{{.Name}}{{$.Browse.Q}}">{{.Name}}</a></td><td class="meta">{{.Size}} B</td>{{end}}
      </tr>
      {{end}}
      </tbody>
    </table>
    {{else}}<p>{{$.L.T "browse.empty"}}</p>{{end}}
    {{if .CanEdit}}<p><a href="{{.Base}}/edit/{{if .Path}}{{.Path}}/{{end}}new-file.txt{{.Q}}">New file</a></p>{{end}}
    {{end}}
{{template "foot" .}}
